body {
  padding: 1em 1.5em 1em 1.5em;
}

header {
    background-image: url("img/gold_scale.png");
    padding: 10px;
    font-weight: bold;
    font-size: 1.5em;
    border-bottom: 4px solid rgb(26, 26, 26);
    margin: auto;
}

#map { height: 200px; }

#moodlist { height: 100px; }