body {
  padding: 1em 1.5em 1em 1.5em;
}

header {
    background-image: url("img/gold_scale.png");
    padding: 10px;
    font-weight: bold;
    border-bottom: 4px solid rgb(26, 26, 26);
    margin: auto;
}

#map { height: 200px; }

#moodlist { height: 100px; }

.moodBad {background-color: rgba(226, 42, 43, 0.5)}
.moodGood {background-color: rgba(253, 227, 52)}

#ui-id-1 {margin-left: 20px;}

